// Variable created to decied the screen size fro responsivity.
// Makes it eaiser to change the sizing for the devices.
$md-size: 768px;

header {
    width: 100%;
}
    nav {
        &:after {
            @include clearfix();
        }

        ul {
            padding: 0;
            margin: 0;
            font-family: 'Pixel-Miners', sans-serif;
            // Put the nav links to the left of the navbar.
            float: left; 
            // Takes away the float on the links.
            // Calls for ($md-size). Puts the links into the "hamburger" button.
            @media screen and (max-width: $md-size){
                float: none;
            }
            li {
                display: inline-block;
                padding: 5px 0 5px 10px;
                @media screen and (max-width: $md-size){
                    width: 100%;
                    display: block;
                    text-align: center;
                    padding: 5px 0 5px 0;
                }
                &:first-child {
                    a {
                        @include link-bg-hover($accent-brick);
                    }
                }

                &:nth-child(2) {
                    a {
                        @include link-bg-hover($accent-orange);
                    }
                }

                &:nth-child(3) {
                    a {
                        @include link-bg-hover($accent-green);
                    }
                }

                &:nth-child(4) {
                    a {
                        @include link-bg-hover($accent-yellow);
                    }
                }

                a {
                    display: block;
                    padding: 7px 25px;
                    color: $white;
                    line-height: 40px;
                    white-space: nowrap;
                    text-decoration: none;

                    &:hover {
                        color: transparentize($color: $white, $amount: 0.05);
                        text-decoration: none;
                    }
                }
            }
        }
    }
}