body {
    background-color: $black;
    color: $white;
    font-family: $font-ibm;
    background: url('#{$img-path}/bg.png') fixed no-repeat;
    background-size: cover;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1;
}

::selection {
    background-color: $primary-color;
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
    @include default-transition();
}

.transparent-wrap {
    background-color: transparentize(darken($primary-color, 40%), .2);
}


.content-section {
    // display: none;
    h1 {
        font-family: $font-ibm;
        font-size: 5rem;
        margin: 1rem 0;

        @include media-breakpoint-down(sm) {
            & {
                font-size: 2rem;
                text-align: center;
            }
        }
    }
}

.logo {
    font-family: $font-vt323;
    color: lighten($accent-brick, 20%);
    font-size: 3rem;
    white-space: nowrap;

    &:hover {
        color: $accent-brick;
    }
}

.light-bg {
    background-color: $gray;
    color: darken($accent-green, 30%);
}

article {
    padding: 15px;
}

header {
    width: 100%;

    nav {
        &:after {
            @include clearfix();
        }

        ul {
            padding: 0;
            margin: 0;
            float: right;
            font-family: $font-code;

            li {
                display: inline-block;
                padding-left: 10px;

                &:first-child {
                    a {
                        @include link-bg-hover($accent-brick);
                    }
                }

                &:nth-child(2) {
                    a {
                        @include link-bg-hover($accent-orange);
                    }
                }

                &:nth-child(3) {
                    a {
                        @include link-bg-hover($accent-green);
                    }
                }
                &:nth-child(4) {
                    a {
                        @include link-bg-hover($accent-yellow);
                    }
                }
                a {
                    display: block;
                    padding: 7px 25px;
                    color: $white;
                    line-height: 40px;
                    white-space: nowrap;
                    text-decoration: none;

                    &:hover {
                        color: transparentize($color: $white, $amount: 0.05);
                        text-decoration: none;
                    }
                }
            }

            @include media-breakpoint-down(sm) {
                & {
                    float: none;

                    li {
                        display: block;
                        width: 100%;
                        padding-left: 0;

                        a {
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}

footer {
    width: 100%;
    color: $accent-green;
    padding: 30px 0;
    font-family: $font-code;
}

.media-links {
    dt {
        font-size: 1rem;
        margin-bottom: 10px;
    }
    dd {
        a {
            display: inline-block;
            i {
                font-size: 3rem;
                vertical-align: middle;
            }
        &:hover {
            color: $accent-yellow;
        }
        }
    }
    @include media-breakpoint-down(xs) {
        & {
            margin-top: 1rem;
            dt {
                margin: .8rem auto;
            }
        }
    }
}

.madeby {
    font-size: .75rem;
    margin-bottom: 0;
    a {
        color: $accent-brick;
        &:hover {
            color: $accent-green;
        }
    }
}